<div class="container">
  <div class="musba">
    <a href="https://www.facebook.com/events/1072043899946930" target="_blank" rel="noreferrer">
      <img src="/assets/images/bacchanight-logo.png" alt="Bacchanight logo" width="250">
    </a>
  </div>
</div>
<div class="container">

  <div class="footer-logos">
    <div class="logos">
      <ul>
        <li>
          <a href="http://www.musba-bordeaux.fr/" target="_blank" rel="noreferrer">
            <img src="/assets/images/musba-logo.jpg" alt="Musée des Beaux Arts de Bordeaux" width="100">
          </a>
        </li>
        <li>
          <a href="https://mmibordeaux.com" target="_blank" rel="noreferrer">
            <img src="/assets/images/mmi-logo.svg" alt="MMI Bordeaux" width="100">
          </a>
        </li>
        <li>
          <a href="https://www.bordeaux.fr/" target="_blank" rel="noreferrer">
            <img src="/assets/images/mairie-bordeaux.png" alt="Logo de la ville de Bordeaux" width="100">
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="container">
  <ul>
    <li>
      <a class="meta" href="https://mmibordeaux.com/mentions-legales" target="_blank" rel="noreferrer">Mentions légales</a>
    </li>
  </ul>
</div>